# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# IDEs
.vscode/
.idea/

# Downloaded files
*.mp3
*.m4a
*.webm
*.part
*.temp

# mac
.DS_Store

# album art
*.webp
*.jpg

# download folder
download/